*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(/images/abc.jpg);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu{ 
    background: #24064f8a;
    text-align: center;
}

.menu ul {
    list-style: none;
    display: inline-flex;
}

.menu ul li {
    width: 250px;
    margin: 15px ;
    padding: 25px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover{
   
    background: #77921769;
}
.altmenu {
    display: none;
}
.menu ul li:hover .altmenu {
display: block;
position: absolute;
background:#3b107673 ;
margin-top: 15px;
margin-left: 15px;
font-size: 15px;
}

.menu li:hover .altmenu ul{
display: block;
}

.menu ul li:hover .altmenu ul li:hover{
    background-color: #77921769;
}

.menu ul li:hover .altmenu ul li {
    border-bottom: solid #fff;
    font-size: small;
}

h1 { 
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-top: 100px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #b6c11c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

form {
margin-top: 20px;
background-color: #8a8b8729;
width: 200px;
margin: auto;
}

label {
    color:#8a8b87;
}

input {
    width: 198px;
}
